

{% extends "base.html" %} 
{% block title %} Aisling's Bus Tours - Home {% endblock %}

{% block content %}
   
    <div class="container">
        <div class="p-4 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5" style="background-image: url('https://saaislingsbustours.blob.core.windows.net/images-aislings-bus-tours/AislingsBusTourLogo.png'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 350px;"></div>
            <div class="row align-items-md-stretch mt-4">
                                                                        
                <div class="col-md-12 d-flex justify-content-center">
                    <a class="navbar-brand" href="/booking">
                        <button class="btn btn-primary btn-lg" href="booking" type="button">Book your tour now!</button> 
                    </a>
                </div>
            </div>
        </div>

        <div class="row align-items-md-stretch mt-4">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2>Routes</h2>
              <p>Choose from a range of locations for your tour</p>
              <a class="navbar-brand" href="routes">
               <button class="btn btn-outline-light" type="button" href="/routes">Routes</button>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Timetables</h2>
              <p>See what days/times we accommadate</p>
              <a class="navbar-brand" href="/timetables">
                <button class="btn btn-outline-secondary" type="button">Timetables</button>
              </a>
            </div>
          </div>
        </div>
        <div class="row align-items-md-stretch mt-5" >
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Private Hire</h2>
                    <p>Coming soon for groups of 10 and more</p>
                    <!-- <a class="navbar-brand" href="/privatehire">
                        <button class="btn btn-outline-secondary" type="button">Book a Private Hire</button>
                    </a> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Maps</h2>
                    <p>Coming soon - See our routes on the map</p></p>
                    <!-- <a class="navbar-brand" href="/maps">
                        <button class="btn btn-outline-light" type="button">Maps</button>
                    </a> -->
                </div>
            </div>
        </div>
    </div>


{% endblock %}