{% extends "base.html" %} 
{% block title %} Aisling's Bus Tours - Book a tour {% endblock %}

{% load static %}
{% block javascript %}
    src="{% static 'js/retrieveBooking.js' %}"
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
{% block content %}
    <div class="container py-4">    
        <div class="row align-items-md-stretch  mt-5">
            <h1>Book a Bus Tour</h1>
            <form onsubmit="createBooking(); return false;">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="text" id="email" name="email"><br><br>
                <label for="tour_id">Tour ID:</label>
                <input type="text" id="tour_id" name="tour_id"><br><br>
                <button type="submit">Create Booking</button>
            </form>
        
            {% if mybooking %}
                    <h2>Booking Details:</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Booking ID</th>
                                <th>Booking Date</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Origin</th>
                                <th>Destination</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ mybooking.booking_id }}</td>
                                <td>{{ mybooking.booking_date }}</td>
                                <td>{{ mybooking.first_name }}</td>
                                <td>{{ mybooking.last_name }}</td>
                                <td>{{ mybooking.origin }}</td>
                                <td>{{ mybooking.destination }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    {% if error %}
                        <p>{{ error }}</p>
                    {% else %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Booking ID</th>
                                    <th>Booking Date</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in bookings.bookings %}
                                <tr>
                                    <td>{{ booking.booking_id }}</td>
                                    <td>{{ booking.booking_date }}</td>
                                    <td>{{ booking.first_name }}</td>
                                    <td>{{ booking.last_name }}</td>
                                    <td>{{ booking.origin }}</td>
                                    <td>{{ booking.destination }}</td>    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endif %}
        </div>
        <a class="navbar-brand" href="">
            <button class="btn btn-outline-info" type="button">Back Home</button>
        </a>
    </div>
{% endblock %}