
{% extends "base.html" %} 
{% block title %} Aisling's Bus Tours - Book a tour {% endblock %}

{% block content %}
   
    <div class="container py-4">    
        <div class="row align-items-md-stretch  mt-5">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h1>Book a Bus Tour</h1>
                    <form action="{% url 'booking' %}" method="get">
                        <label for="param1">Booking ID:</label>
                        <input type="number" name="booking_id" id="param1">
                        <br>
                        <button type="submit">Submit</button>
                    </form>
                
                    {% if result %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Booking ID</th>
                                    <th>Booking Date</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Seat Number</th>
                                    <th>Going From</th>
                                    <th>Going To</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for item in result %}
                                <tr>
                                    <td>{{ item.column1 }}</td>
                                    <td>{{ item.column2 }}</td>
                                    <td>{{ item.column3 }}</td>
                                    <td>{{ item.column4 }}</td>
                                    <td>{{ item.column5 }}</td>
                                    <td>{{ item.column6 }}</td>
                                    <td>{{ item.column7 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
<!--
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Booking ID</th>
                                <th>Booking Date</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Seat Number</th>
                                <th>Going From</th>
                                <th>Going To</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in result %}
                            <tr>
                                <td>{{ item.column1 }}</td>
                                <td>{{ item.column2 }}</td>
                                <td>{{ item.column3 }}</td>
                                <td>{{ item.column4 }}</td>
                                <td>{{ item.column5 }}</td>
                                <td>{{ item.column6 }}</td>
                                <td>{{ item.column6 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> 
-->

                <a class="navbar-brand" href="">
                    <button class="btn btn-outline-info" type="button">Back Home</button>
                </a>
            </div>
          </div>
        </div>
    </div>

{% endblock %}