{% extends "base.html" %} 
{% block title %} Aisling's Bus Tours - Hotels {% endblock %}

{% block content %}
    <h1>Book a Bus Tour</h1>
    <div>
        <p>Create a booking or Edit an existing booking.</p>
        <div class="form-check">
            <input type="radio" name="what" value="creat" onclick="showElement1()">Create
            <input type="radio" name="what" value="edit" onclick="showElement2()">Edit

            <div id="bookingDiv" style="display: none;">
                <p>Are you a new passenger?</p>
                <input type="radio" name="answer" value="yes" onclick="showElement3()">Yes
                <input type="radio" name="answer" value="no" onclick="showElement4()">No
                <div id="createPassengerDiv" style="display: none;">
                    <form id="createPassengerForm">
                        {% csrf_token %}
                        <br>
                        <label for="first_name">First Name:</label>
                        <input type="text" id="first_name" name="first_name"><br><br>
                        <label for="last_name">Last Name:</label>
                        <input type="text" id="last_name" name="last_name"><br><br>
                        <label for="email">Email:</label>
                        <input type="email" id="email_address" name="email_address"><br><br>
                        <button type="submit">Create Passenger</button>
                    </form>
                </div>
                <div id="createBookingDiv" style="display: none;">
                    <h1>Book a Bus Tour</h1>
                    <div>
                        <form id="createBookingForm">
                            {% csrf_token %}
                            <label for="email">Email:</label>
                            <input type="email" id="email_address" name="email_address"><br><br>
                            <label for="tour_id">Tour ID:</label>
                            <input type="text" id="tour_id" name="tour_id"><br><br>
                            <button type="submit">Create Booking</button>
                        </form>
                        <div id="bookingResultDiv"></div>
                        <div id="qrResultDiv">
                            <h1 id="heading" style="display:none">Your QR Code is:</h1>
                            <img id="image" src="">
                        </div> 
                    </div>
                </div>
            </div>
            <div id="editBookingDiv" style="display: none;">
                <h1>Edit booking</h1>
                <form id="editBookingForm">
                    {% csrf_token %}
                    <label for="first_name">Booking ID:</label>
                    <input type="text" id="booking_id" name="booking_id"><br><br>
                    <label for="email">Updated Email:</label>
                    <input type="email" id="email_address" name="email_address"><br><br>
                    <label for="email">Updated Tour ID:</label>
                    <input type="text" id="tour_id" name="tour_id"><br><br>
                    <button type="submit">Edit Booking</button>
                </form>                 
                <div id="resultDiv"></div>
                <div id="bookingDetailsDiv"></div>   
            </div>
        </div>

        <script>
            // radio buttons
            function showElement1() {
            document.getElementById("bookingDiv").style.display = "block";
            document.getElementById("editBookingDiv").style.display = "none";
            }

            function showElement2() {
            document.getElementById("bookingDiv").style.display = "none";
            document.getElementById("editBookingDiv").style.display = "block";
            }

            function showElement3() {
            document.getElementById("createPassengerDiv").style.display = "block";
            document.getElementById("createBookingDiv").style.display = "none";
            }

            function showElement4() {
            document.getElementById("createPassengerDiv").style.display = "none";
            document.getElementById("createBookingDiv").style.display = "block";
            }

            // form submission for passenger to API /create-passenger
            const form = document.getElementById('createPassengerForm');
                form.addEventListener('submit', async (event) => {
                    event.preventDefault(); // prevent the default form submit behavior
                    
                    const formData = new FormData(form); // get the form data
                    const data = Object.fromEntries(formData.entries()); // convert the FormData object to a plain object
                    console.log(data);
                    // send the data to your API endpoint
                    try {
                        const response = await fetch('https://apimaislingsbustours.azure-api.net/bt/create-passenger', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                        });
                        
                        // handle the response from your API
                        const result = await response.json();
                        console.log(result);
                        const resultDiv = document.getElementById('createPassengerDiv');
                        resultDiv.innerHTML = "<br>Your account has been created";
                    } catch (error) {
                        // handle error
                        console.error(error);
                        const resultDiv = document.getElementById('createPassengerDiv');
                        resultDiv.innerHTML = `<br>Error creating passenger: ${error.message}`;
                    }
                });

                // form submission for create booking to API /create-booking
                document.addEventListener('DOMContentLoaded', () => {
                    const bookingForm = document.getElementById('createBookingForm');
                    bookingForm.addEventListener('submit', async (event) => {
                        event.preventDefault(); // prevent the default form submit behavior
                        
                        const bookingFormData = new FormData(bookingForm); // get the form data
                        const bookingdata = Object.fromEntries(bookingFormData.entries()); // convert the FormData object to a plain object
                        console.log(bookingdata);
                        // send the data to your API endpoint
                        try {
                            const response = await fetch('https://apimaislingsbustours.azure-api.net/bt/create-booking', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(bookingdata)
                            });
                            
                            // handle the response from your API
                            const result = await response.json();
                            console.log(result);
                            const bookingResultDiv = document.getElementById('bookingResultDiv');
                            bookingResultDiv.innerHTML=`<br>Your booking ID is ${result.booking_id}`;

                            // if booking completed successfully then call a 2nd API
                        if (response.ok) {
                            //creating + displaying QR code from API: https://raq06bxfrk.execute-api.eu-west-1.amazonaws.com/apiqrcode which is added to APIM
                            try { 
                                //data to send to the QR code API 
                                const qrCodeData = {booking_id: result.booking_id};
                                //this is the API URL for the QR code
                                const qrResponse = await fetch('https://apimaislingsbustours.azure-api.net/qrcode/apiqrcode', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(qrCodeData)
                                });
                                
                                // handle the response from your API which is an image .png
                                // get result as blob
                                const qrResult = await qrResponse.blob();
                                // create url for blob
                                const imageUrl = URL.createObjectURL(qrResult);
                                console.log(imageUrl);

                                // display the h1 element above the QR code
                                const heading = document.getElementById('heading');
                                heading.style.display = 'block';
                                // add the heading to the div: qrResultDiv
                                document.getElementById('qrResultDiv').appendChild(heading); 
        

                                // create an <img> element and set its src attribute to the URL of the image
                                const image = document.createElement('img');
                                image.src = imageUrl;
                                // add the image to the page
                                document.getElementById('qrResultDiv').appendChild(image); 
        
                            }
                            catch (error) {
                                // handle error
                                console.error(error);
                                const qrResultDiv = document.getElementById('qrResultDiv');
                                qrResultDiv.innerHTML = `<br>Error generating QR code: ${error.message}`;
                            }
                        }                            
                        } catch (error) {
                            // handle error
                            console.error(error);
                            const bookingResultDiv = document.getElementById('bookingResultDiv');
                            bookingResultDiv.innerHTML = `<br>Error creating booking: ${error.message}`;
                        }
                    });
                });

                // form submission for updating a booking to API /update-booking/{booking_id}
                // in APIM its just /booking
                const editBookingForm = document.getElementById('editBookingForm');

                editBookingForm.addEventListener('submit', async (event) => {
                    event.preventDefault(); // prevent the default form submit behavior
            
                    const editBookingFormData = new FormData(editBookingForm); // get the form data
                    const editBookingdata = Object.fromEntries(editBookingFormData.entries()); // convert the FormData object to a plain object
                    console.log(editBookingdata);
                    // send the data to your API endpoint
                    try {
                        const response = await fetch('https://apimaislingsbustours.azure-api.net/bt/booking', {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(editBookingdata)
                        
                        });
                
                        if (!response.ok) {
                            // handle error response from API
                            throw new Error('Failed to update booking.');
                        }
                        else {
                            // there is no response from the API as it is going to a queue
                            const resultDiv = document.getElementById('editBookingDiv');
                            resultDiv.innerHTML = `<br>Request to update booking has been sent`;                            
                        }
                        
                    } catch (error) {
                        // handle error
                        console.error(error);
                        const resultDiv = document.getElementById('editBookingDiv');
                        resultDiv.innerHTML = `<br>Error updating booking: ${error.message}`;
                    }
                });    
        </script>
    </div>
{% endblock %}