{% extends "base.html" %} 
{% block title %} Aisling's Bus Tours - Routes {% endblock %}

{% block content %}

    <div class="container py-4">
        <div class="row align-items-md-stretch  mt-5">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Dublin</h2>
                    <p>info on Dublin</p>
                    <a class="navbar-brand" href="routes">
                    <button class="btn btn-outline-light" type="button" href="/routes">routes</button>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Belfast</h2>
                    <p>info on Belfast</p>
                </div>
            </div>
        </div>
        <div class="row align-items-md-stretch mt-5" >
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Galway</h2>
                    <p>info on Galway</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Limerick</h2>
                    <p>info on Antrim</p></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Antrim</h2>
                    <p>info on Antrim</p></p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}