{% extends "base.html" %} 
{% block title %} Aisling's Bus Tours - Routes {% endblock %}

{% block content %}

    <div class="container py-4">
        <div class="row align-items-md-stretch  mt-5">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Dublin</h2>
                    <p>info on Dublin</p>
                    <h1>Hotels</h1>
                    {% if error %}
                        <p>{{ error }}</p>
                    {% else %}
                        <table>
                        <thead>
                            <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Website</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hotel in allHotels %}
                            <tr>
                                <td>{{ hotel.name }}</td>
                                <td>{{ hotel.address }}</td>
                                <td>{{ hotel.telephone }}</td>
                                <td>{{ hotel.url }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    {% endif %}




                    <ul>
                      {% for hotel in hotels %}
                        <li>{{ hotel.name }}</li>
                      {% endfor %}
                    </ul>
                    <a class="navbar-brand" href="">
                    <button class="btn btn-outline-light" type="button" href="/routes">routes</button>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Belfast</h2>
                    <p>info on Belfast</p>
                </div>
            </div>
        </div>
        <div class="row align-items-md-stretch mt-5" >
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Galway</h2>
                    <p>info on Galway</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Limerick</h2>
                    <p>info on Limerick</p></p>
                </div>
            </div>
        </div>
        <div class="row align-items-md-stretch  mt-5">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Antrim</h2>
                    <p>info on Antrim</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}