

{% extends "base.html" %} 
{% block title %} Aisling's Bus Tours - Timetables {% endblock %}

{% block content %}
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h1>Timetables</h1>
        <p>Busses leave every day Monday-Sunday</p>
        <table>
            <thead>
                <tr>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                </tr>
            </thead>
            <tbody>
                {% for timetable in timetables.timetables %}
                <tr>
                    <td>{{ timetable.Origin }}</td>
                    <td>{{ timetable.Destination }}</td>
                    <td>{{ timetable.Depature_Time }}</td>
                    <td>{{ timetable.Arrival_Time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </body>
    </html>


{% endblock %}