

{% extends "base.html" %} 
{% block title %} Aisling's Bus Tours - Timetables {% endblock %}

{% block content %}
 
    <div class="container py-4">    
        <div class="row align-items-md-stretch  mt-5">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                <h1>Timetable</h1>
                {{ table }}
                {% endfor %} 
                <!-- <ul> {% for row in rows %} 
                    <li>{{ row }}</li>
                    {% endfor %} 
                </ul> -->
                <a class="navbar-brand" href="/home">
                    <button class="btn btn-outline-info" type="button">Back Home</button>
                </a>
            </div>
          </div>
        </div>
    </div>


{% endblock %}